<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>系统桌面</title>
    <!-- 图片在 /src/assets/ 下-->
<link rel="icon" type="image/x-icon" href="<%= context.publicPath %>static/favicon.png" />
</head>

<body>
    <noscript>您的浏览器不支持或已禁用javascript, 请使用或开启javascript支持的浏览器!</noscript>
    <div id="root"></div>
</body>

</html>
